

.img-carousel {
    max-width: 600px; 
    height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(19, 14, 14, 0.5); 
    border-radius: 50%; 
    width: 50px;
    height: 50px;
}

.caption-text{
    color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1; 
}

.img-small {
    max-width: 35%; 
    height: auto;
}

.img-prod {
    max-width: 35%; 
    height: auto;
}

.img-productos{
    max-width: 50%; 
    height: auto;
    
}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6; 
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px; 
    font-weight: 700; 
    color: #333; 
}


.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000 !important;
}